@use "../utility/reset";
@use "../utility/breakpoints";
@use "../theme/font";
@use "../theme/color";
.copyright {
  padding: 10px 0;
  text-align: center;
  @include breakpoints.pad-lg {
    display: flex;
    justify-content: space-between;
  }
  .copyright_text {
    font-size: font.$footer_font_size;
    color: color.$gray1;
    p {
      @include breakpoints.mobile {
        display: inline-block;
      }
      @include breakpoints.pad-lg {
        line-height: 34px;
      }
    }
    a {
      @extend %hover;
      color: color.$green;
      font-size: font.$footer_font_size;
      display: inline-block;
    }
    span {
      display: none;
      @include breakpoints.mobile {
        display: inline-block;
      }
    }
  }
  .copyright_media {
    @include breakpoints.pad {
      order: 2;
      flex-direction: row;
      justify-content: center;
    }
    @include breakpoints.pad-lg {
      align-items: center;
    }
    display: flex;
    flex-direction: column;
    a {
      @include breakpoints.pad {
        padding: 0 5px;
      }
      @extend %hover;
      font-size: font.$footer_font_size;
      color: color.$gray1;
      padding: 5px;
      &:hover {
        @extend %hover;
      }
    }
  }
}

.copyright_media a:not(:last-child) {
  @include breakpoints.pad {
    border-right: solid 1px;
  }
}
